.Editor {
    border: 1px solid black;
    width: min-content;
}
.ControlPanel {
    margin-top: 5px;
}
.ControlPanel > button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background: #fb676e;
    padding: 10px;
    font-weight: bold;
}